{% extends "base.html" %}
{% block title %}Ruhava_product-details{% endblock %}
{% load static %}
{% block extra_css %}
           <link href="{%static 'customer.css'%}" rel="stylesheet" />
         {% endblock %}
{% block content %}
<div class="product-container">
    <div class="product-left">
        <div class="image-slider">
           <button class="nav-btn left" onclick="prevImage()">&#10094;</button>
                {% for img in images %}
                   <img src="{{ img.image.url }}"
                   class="slider-image {% if forloop.first %}active{% endif %}">
                {% endfor %}
         <button class="nav-btn right" onclick="nextImage()">&#10095;</button>
           <div class="dots">
             {% for img in images %}
                 <span class="dot {% if forloop.first %}active-dot{% endif %}"
                  onclick="goToImage({{ forloop.counter0 }})"></span>
             {% endfor %}
           </div>
       </div>
    </div>

    <div class="product-right">
        <h1>{{ product.name }}</h1>
        <h3>₹{{ product.price }}.00</h3>
        <h3>Colour - {{ product.colour }}</h3>
        <p>{{ product.description }}</p>

        {% if user.is_authenticated %}
              {% if product.stock > 0 %}

<form method="POST" action="{% url 'customer:add_to_cart' product.id %}">
    {% csrf_token %}

    {% for size in product.sizes %}
        <label>
            <input type="radio" name="selected_size" value="{{ size }}" required>
            {{ size }}
        </label>
    {% endfor %}

    <br><br>

    {% if product_in_cart %}
        <a href="{% url 'customer:cart' %}" class="btn btn-success">
            Go to Cart
        </a>
    {% else %}
        <button type="submit" name="action" value="cart" class="btn btn-primary">
            Add to Cart
        </button>
    {% endif %}

    <button type="submit" name="action" value="buy" class="btn btn-dark">
        Buy Now
    </button>

</form>

{% else %}

<button class="btn btn-danger w-100" disabled>
    Out of Stock
</button>

{% endif %}
            
         {% else %}
            <a href="{% url 'shop:register' %}" class="login-required">
            <button class="btn btn-primary">login to buy</button> </a>
        {% endif %}
        
    </div>  
</div>
{% include 'product_grid.html' %}
{% endblock %}