{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shopkeeper.css' %}">
{% endblock %}

{% block content %}

<div class="orders-container">

    <h1 class="page-title">Customer Orders</h1>

    {% for item in orders %}

    <div class="order-card">

        <div class="order-header">
            <h2>Order #{{ item.order.id }}</h2>
            <span class="status">{{ item.order.get_status_display }}</span>
        </div>

        <div class="customer-box">
            <h3>Customer Details</h3>
            <p><strong>Name :</strong> {{ item.order.name }}</p>
            <p><strong>Phone :</strong> {{ item.order.phone }}</p>
            <p><strong>Address :</strong> {{ item.order.address }}</p>
        </div>

        <div class="product-box">

            <div class="product-image">
                {% with item.product.productimage_set.first as img %}
                    {% if img %}
                        <img src="{{ img.image.url }}">
                    {% endif %}
                {% endwith %}
            </div>

            <div class="product-details">
                <h3>{{ item.product.name }}</h3>
                <p><strong>Size :</strong> {{ item.size }}</p>
                <p><strong>Quantity :</strong> {{ item.quantity }}</p>
                <p><strong>Price :</strong> ₹{{ item.price }}</p>
                <p><strong>Subtotal :</strong> ₹{{ item.subtotal }}</p>
            </div>

        </div>

        <div class="status-box">
        {% if item.order.status != "delivered" %}
           <form method="POST">
             {% csrf_token %}
                 <input type="hidden" name="order_id" value="{{ item.order.id }}">
                      <select name="status">
                         <option value="pending" {% if item.order.status == "pending" %}selected{% endif %}>Pending</option>
                         <option value="confirmed" {% if item.order.status == "confirmed" %}selected{% endif %}>Confirmed</option>
                         <option value="preparing" {% if item.order.status == "preparing" %}selected{% endif %}>Preparing</option>
                         <option value="out_for_delivery" {% if item.order.status == "out_for_delivery" %}selected{% endif %}>Out For Delivery</option>
                      </select>
                  <button type="submit" class="update-btn"> Update Status </button>
            </form>
        {% else %}  
           <span class="status-badge status-delivered"> Delivered</span>  
        {% endif %}   
        </div>
    </div>

    {% empty %}

    <h2>No Orders Yet</h2>

    {% endfor %}

</div>

{% endblock %}